#container {
  /* Ширина контейнера */
  width: 30%;
  /* Позиционарование контейнера по центру */
  margin: auto;
  /* Границы контейнера */
  border: solid 1px rgb(230, 230, 230);
  /* Радиус закругления границы */
  border-radius: 15px;
  /* Цвет фона контейнера */
  background-color: rgb(255, 255, 255);
  /* Позиционирование текста по центру */
  text-align: center;
  /* Выбор семейства шрифтов */
  font-family: "Segoe UI";
  /* Отступы */
  padding: 3%;
  /* Цвет абзаца */
  color: rgb(115, 115, 130);
}

#payment-details {
  /* Ширина */
  width: 100%;
  /* Закругление границы */
  border-radius: 10px;
  /* Цвет заднего фона */
  background-color: rgb(245, 245, 245);
  /* Настройка отступов */
  padding: 5%;
  /* Убирает двойные границы */
  border-collapse: collapse; 
}

#payment-details th,
#payment-details td {
  /* Отступы */
  padding: 12px 16px;
}

#payment-details th {
  /* Добавляем нижнюю границу для заголовка таблицы как разделитель */
  border-bottom: 1px solid rgb(200, 200, 200);
}

/* Убираем лишние margin и padding-top у td */
#payment-details td {
  padding-top: 12px;
  padding-bottom: 12px;
  margin-bottom: 0;
}

img.payment-success {
  /* Ширина изображения 20%*/
  width: 75px;
}

h2.payment-success {
  /* Цвет заголовка 2 уровня */
  color: rgb(0, 160, 60);
  /* Отступ снизу заголовка */
  margin-bottom: 0px;
  /* Убираем жирный шрифт */
  font-weight: 600;
}

p.payment-success {
  /* Межстрочный интервал */
  line-height: 150%;
}

#receipt {
  /* Радиус закругления границы */
  border-radius: 10px;
  /* Цвет фона абзаца */
  background-color: rgb(240, 245, 255);
  /* Отступы */
  padding: 3%;
  /* Для выравнивания */
  display: flex;
  /* Выравнивание по вертикали */
  align-items: center;
  /* Выравнивание по горизонтали */
  justify-content: center;
  /* Размер шрифта */
  font-size: 14px;
  /* Отступ сверху */
  margin-top: 10px;
  /* Отступ снизу */
  margin-bottom: 40px;
}

#receipt img {
  /* Ширина изображения внутри абзаца */
  width: 20px;
  /* Отступ справа */
  margin-right: 2%;
}

.badge-container {
  /* Делаем элемент строчно-блочным, чтобы он облегал текст */
  display: inline-flex;
  /* Отступы для текста */
  padding: 2px 10px; 
  /* Цвет фона */
  background-color: rgb(250, 250, 250);
  /* Цвет границы */
  border: 1px solid rgb(200, 200, 200);
  /* Закругление границы*/
  border-radius: 10px;
  /* Размер шрифта */
  font-size: 14px;  
  /* Жирность шрифта */
  font-weight: 500;   
}

.label {
  /* Позиционирование текста по левому краю */
  text-align: left;
  /* Цвет подписей */
  color: rgb(130, 130, 130);
  /* Убираем жирный шрифт */
  font-weight: normal;
}

.value {
  /* Позиционирование текста по правому краю */
  text-align: right;
  /* Убираем жирный шрифт */
  font-weight: normal;
}

#button-download {
  /* Цвет фона кнопки */
  background-color: black;
  /* Цвет текста кнопки */
  color: white;
  /* Убираем границу кнопки */
  border: none;
}

#button-download:hover {
  /* Цвет фона кнопки при наведении курсора */
  background-color: rgb(30, 30, 45);
}

#button-return {
  /* Цвет фона кнопки */
  background-color: white;
  /* Цвет текста кнопки */
  color: black;
  /* Убираем границу кнопки */
  border: 1px solid rgb(230, 230, 230);
}

#button-return:hover {
  /* Цвет фона кнопки при наведении курсора*/
  background-color: rgb(235, 235, 235);
}

.buttons {
  /* Расположение кнопок на всю ширину окна */
  width: 100%;
  /* Отступ снизу */
  margin-bottom: 10px;
  /* Радиус закругления границы */
  border-radius: 10px;
  /* Отступы */
  padding: 3%;
  /* Для выравнивания */
  display: flex;
  /* Выравнивание по вертикали */
  align-items: center;
  /* Выравнивание по горизонтали */
  justify-content: center;
  /* Убираем жирный шрифт */
  font-weight: 600;
}

.buttons img {
  /* Ширина фотографий в кнопках */
  width: 16px;
  /* Отступ справа фотографий */
  margin-right: 3%;
}

#contact-info {
  /* Отступ сверху */
  margin-top: 50px;
  /* Отступ снизу */
  margin-bottom: 0px;
  /* Размер шрифта */
  font-size: 13px;
}